div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
h3 {
  color: rgb(34, 31, 27);
}
body {
  background-color: lightblue;
}

